.app {
  text-align: center;
}


.header {
  
  background-color: hsl(220, 12%, 90%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(109, 26, 26);
}
.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.table th,
.table td {
    padding: 12px 15px;
}
.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.bee-status {
  width: auto;
  height: 30px;
}
.bee-status--strong{
  background-color: #009879;
}
.bee-status--mid {
  background-color: #ffd23c;
}
.bee-status--weak {
  background-color: #92072a;
}
.bee-status--die {
  background-color: #2f3332;
}
.bee-ui {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 200px;;
  height: 100%;
}
.bee-ui__bee-img {
  flex: 2;
  width:20%;
  height:20%;
}
.bee-ui__bee-item-img {
  flex: 1;
  width:20%;
  height:20%;
}

.bottom {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 10%;
  height: 10%;
  background-color: #f2f6f5;
}
.btn {
  flex: 1;
}
.btn__action{
  background-color: rgb(46, 128, 84);
  width: 100%;
  height: 100%;
  font-size: large;
  color: hsl(28, 100%, 97%);
}
